.aside-main{
  display: flex;
  flex-direction: column;

}

.box{
  height: 30vh;
  max-width: 40vh;
  background-color: #20212971;
  display: flex;
  margin-top: 5vh;
  border-radius: 5%;
}

.box img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

ul>li{
  color: white;
}
