.articles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-main{
  width: 40%;
}
.articles-aside{
  width: 400px;
}


@media screen and (max-width:1000px){
  .articles{
    flex-direction: column;
  }
  .articles-main{
    width: 80%;
  }
  .articles-aside{
    width: 45vh;
  }
}
