.menu{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
}
.menu-content{
  background-color: #16171A;
  width: 70%;
  height: 16vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 3vh;
}
.menu-dropdown{
  display: flex;
  gap: 2vh;
}

.menu-icon{
  display: flex;
}

.menu-icon img{
  border-radius: 3vh;
  width: 100%;
}

@media screen and (max-width:670px){
  .menu-content{
    flex-direction: column;
    height: 23vh;
  }

}
